header>#logo{
    width: 100px;   
}
header>#quiz-title{
    font-family: "Codystar";
    font-size: 5rem;
    color: var(--color-light);
}

@media (max-width:1200px) {
    header>#quiz-title{
        font-size: 4rem;
    }
    header>#logo{
        width: 75px;   
    }
    
}
@media (max-width:776px) {
    header>#quiz-title{
        font-size: 3.3rem;
    }
    header>#logo{
        width: 50px;   
    }
    
}
@media (max-width:576px) {
    header>#quiz-title{
        font-size: 1.8rem;
    }
}