*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}
@import url("https://fonts.googleapis.com/css2?family=Codystar&display=swap");

body {
  background-color: var(--color-darkest);
}

.btn {
  padding: 6px 20px !important;
  background-color: var(--color-dark) !important;
  color: var(--color-light) !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn:hover {
  background-color: var(--color-darkest) !important;
  border: 1px solid var(--color-dark) !important;
}

.btn.option,
.btn.option:disabled {
  border: 1px solid transparent;
  margin: 12px 0px;
  font-size: 17px;
  padding-top: 12px !important ;
  padding-bottom: 12px !important ;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.btn.option:hover,
.btn.option.answer {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}
.btn.timer-btn,
.btn.timer-btn:disabled {
  background-color: var(--color-darkest) !important;
  border: 1px solid var(--color-light) !important;
}

#finish-section {
  background-color: var(--color-theme);
}

@media (max-width: 576px) {
  #start-section > .welcome {
    font-size: 27px !important;
  }
}
